.dark {
    background-color: #243E36;
    color: white;
    transition: 1s;
}

.light {
    background-color: chartreuse;
    color: black;
    transition: 1s;
}

#dark {
    position: absolute;
    top: 0;
    right: 0;
}

#result {
    text-align: center;
}

.normal {
    background-color: #C3D2D5;
    transition: 1s;
}

.test {
    background-color: #547AA5;
}